body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #F5F5DC;
}

.image-container {
    width: 206px;
    height: 212px;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 281px;
    height: 60px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    color: white;
}