body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #F5F5DC;

}

h1 {
    text-align: center;
}

.input-container {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    margin-top: 20px;
    padding: 0;
    width: 81px;
    height: 81px;
    background-color: transparent;
    color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    cursor: pointer;
}

button#prijaviSeBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}